{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Health - Login</title>
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
</head>

<body>
    <div class="container">
        <img src="{% static 'images/skylogo.png' %}" alt="Sky Logo" class="logo">
        <h1 class="brand">Health</h1>
        <div class="login-box">
            <h2>LOG IN</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="email" placeholder="Enter email" required>
                <input type="password" placeholder="Enter password" required>
                <div class="form-footer">
                    <p>Back to <a href="{% url 'register' %}">Register</a></p> <!--url back to registration page-->

                    <p>Log in as <a href="/admin/">Admin</a></p> <!--redirect to django admin login-->
                    <button type="submit">LOG IN</button> <!--login button-->
                </div>
            </form>
        </div>
    </div>
</body>

</html>