{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Health - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/regpage.css' %}">
</head>

<body>
    <div class="container">
        <img src="{%static 'images/skylogo.png' %}" alt="Sky Logo" class="logo">
        <h1 class="brand">Health</h1>
        <div class="signup-box">
            <h2>SIGN UP</h2>
            <form method="POST">
                {% csrf_token %}
                <input name="first_name" type="text" placeholder="Name" required>
                <input name="username" type="text" placeholder="Enter username" required>
                <input name="email" type="email" placeholder="Enter email" required>
                <input name="password" type="password" placeholder="Enter password" required>
                <button type="submit">SIGN UP</button> <!--sign up button-->
                <div class="form-footer">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p> <!--direct to login page-->
                </div>
            </form>
        </div>
    </div>
</body>

</html>