{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Health - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/regpage.css' %}">
</head>

<body>
    <div class="container">
        <img src="{%static 'images/skylogo.png' %}" alt="Sky Logo" class="logo">
        <h1 class="brand">Health</h1>
        <div class="signup-box">
            <h2>SIGN UP</h2>
            <form method="post">
                <input type="text" placeholder="First name" required>
                <input type="text" placeholder="Enter username" required>
                <input type="email" placeholder="Enter email" required>
                <input type="password" placeholder="Enter password" required>
                <div class="form-footer">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p> <!--direct to login page-->
                    <button type="submit">SIGN UP</button> <!--sign up button-->
                </div>
            </form>
        </div>
    </div>
</body>

</html>