<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Healthcheck Account Details</title>
    {% load static %} <!-- loads static to retrieve image and css file-->
    <link rel="stylesheet" type="text/css" href="{% static 'accountdetails.css' %}">

</head>

<body>

    <div class="container"> <!--container for entire pages elements-->
        <div class="navbar"> <!--names the class navbar to contain the navbar elements-->
            <img src="{% static 'images/skylogo.png' %}" alt="SkyHealth Logo" class="logo">
            <!--image loaded from static, if it doesnt it loads the alternative-->

            <div class="navbar-urls-button-container">
                <a href="{% url 'dashboard' %}" class="navbar-buttons">Dashboard</a> <!--references dashboard url-->
                <a href="{% url 'teamsummary' %}" class="navbar-buttons">Team Summary</a>
                <!--references teamsumarry url-->
                <a href="{% url 'register' %}" class="navbar-buttons">Log Out</a> <!--references register page url-->
            </div>
        </div>


        <div class="account-details-page">
            <div class="page-header">
                <h1 class="page-title">Account Details</h1> <!--displays pages title-->
                <p class="datetime">{% now "D d M Y" %} &nbsp;&nbsp; {% now "H:i" %}</p>
            </div>

            <form method="post">
                {% csrf_token %}

                <!-- First Name -->
                <div class="form-box">
                    <label for="first_name">First name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                </div>

                <!-- user -->
                <div class="form-box">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" required>
                </div>

                <!-- email -->
                <div class="form-box">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" required>
                </div>

                <!-- pw -->
                <div class="form-box">
                    <label for="password">New password</label>
                    <input type="password" id="password" name="password" placeholder="Leave blank to keep current">
                </div>

                <button type="submit" class="update">Update</button>
            </form>
        </div>
    </div>
</body>

</html>