<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sky Healthcheck</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'session.css' %}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <img src="{% static 'images/skylogo.png' %}" alt="SkyHealth Logo" class="logo">

            <div class="sidebar-links">
                <a href="{% url 'dashboard' %}" class="sidebar-button">DASHBOARD</a>
                <a href="{% url 'teamsummary' %}" class="sidebar-button">TEAM SUMMARY</a>
                <a href="{% url 'register' %}" class="sidebar-button logout-button">LOG OUT</a>
            </div>
        </div>

        <div class="main">
            <div class="header">
                <h1>Sky <span>Healthcheck</span></h1>
                <p class="datetime">{% now "D d M Y" %} &nbsp;&nbsp; {% now "H:i" %}</p>
            </div>

            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    <select name="session_name" required>
                        <option value="" disabled selected>SESSION NAME</option>
                        <!-- Inisde these options we can add the stuff from database -->
                    </select>

                    <select name="session_date" required>
                        <option value="" disabled selected>SESSION DATE</option>

                    </select>

                    <select name="team_name" required>
                        <option value="" disabled selected>TEAM NAME</option>

                    </select>

                    <button type="submit" class="next-page-button">NEXT PAGE</button>

                </form>
                <a href="{% url 'voting' %}" class="next-page-button"
                    style="display: inline-block; margin-top: 20px;">Go to Voting Page</a>
            </div>
        </div>
    </div>
</body>

</html>